@model (string backUrl, string handler, string saveText)

<div class="d-flex justify-content-between align-items-stretch mt-4">
    <a href="@Model.backUrl"
       class="btn btn-outline-secondary">
        ← Back
    </a>

    <button type="submit"
            asp-page-handler="@Model.handler"
            class="btn btn-danger">
        @Model.saveText
    </button>
</div>