<!DOCTYPE html>
<html lang="en">
@inject IWebHostEnvironment Env
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrchidApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrchidApp.Web.styles.css" asp-append-version="true" />
</head>
<body class="@(Env.IsDevelopment() ? "env-dev" : "")">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">OrchidApp</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Plants/Index">Plants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Setup/Index">Setup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container small text-center py-3">
            <div>
                &copy; @DateTime.UtcNow.Year Raymond Feeney
            </div>
            <div>
                <a asp-page="/Privacy">Privacy</a>
                ·
                <a asp-page="/Legal/Licence">
                    Source (AGPL v3.0)
                </a>
                ·
                <a href="https://github.com/rayfeeney/OrchidApp" 
                target="_blank" 
                rel="noopener">
                    Source Code
                </a>
            </div>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
