@page
@model OrchidApp.Web.Pages.Plants.IndexModel

@{
    ViewData["Title"] = "Plants";
}

<h1>Plants</h1>

<div class="mb-3">
    <a asp-page="/Plants/Add/Index"
       class="btn btn-sm btn-primary">
        Add plant
    </a>
</div>

<div class="d-grid gap-2">
@foreach (var taxon in Model.Taxa)
{
    <a asp-page="/Plants/Taxon"
       asp-route-taxonId="@taxon.TaxonId"
       class="btn btn-outline-primary btn-lg text-start d-flex justify-content-between align-items-center">

        <span>@taxon.DisplayName</span>
        <span class="badge bg-secondary">
            @taxon.PlantCount
        </span>

    </a>
}
</div>
