@page "{id:int}"
@model OrchidApp.Web.Pages.Setup.Taxa.Actions.EditModel

<h1 class="page-title fw-bold">Edit Species/Hybrid</h1>

<p class="h5 fw-bold mb-3">
    @Model.GenusName
</p>

<form method="post" class="mt-3">

    @if (!Model.Taxon.IsSystemManaged)
    {
        @if (!string.IsNullOrWhiteSpace(Model.Taxon.SpeciesName))
        {   
            <div class="mb-3">
                <label asp-for="Taxon.SpeciesName" class="fw-bold">
                    Species
                    <small class="text-muted d-block fw-normal">
                        (spelling correction only)
                    </small>
                </label>

                <input asp-for="Taxon.SpeciesName" class="form-control" />
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Taxon.HybridName))
        {
            <div class="mb-3">
                <label class="fw-bold">
                    Hybrid <small class="text-muted">(spelling correction only)</small>
                </label>
                <input asp-for="Taxon.HybridName" class="form-control" />
            </div>
        }
    }

    @* <div class="mb-3">
        <label class="fw-bold">Growth Code</label>
        <input asp-for="Taxon.GrowthCode" class="form-control" />
    </div> *@

    <div class="mb-3">
        <label class="fw-bold">Growth Notes</label>
        <textarea asp-for="Taxon.GrowthNotes" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="fw-bold">Species/Hybrid notes</label>
        <textarea asp-for="Taxon.TaxonNotes" class="form-control"></textarea>
    </div>

    <partial name="_FormActions"
             model="@((Model.ReturnUrl ?? Url.Page("/Setup/Taxa/Details", new { id = Model.Taxon.TaxonId }), "Save"))" />

</form>
