@page "{plantId:int}"
@model OrchidApp.Web.Pages.Plants.Events.SplitConfirmationModel

<h1 class="page-title fw-bold">Plant split completed</h1>

<h2 class="h5 fw-bold mb-3">
    @(string.IsNullOrWhiteSpace(Model.ParentPlant?.DisplayName)
    ? "-"
    : Model.ParentPlant?.DisplayName)
</h2>

@using System.Linq

@{
    var splitConfirmationModel = (
        Message: "The split has created the following new plants.",
        Tags: Model.Children.Select(c => c.ChildPlantTag).ToList(),
        ButtonText: "Continue to first new plant"
    );
}

<partial name="_PlantCreationResultCard"
         model="splitConfirmationModel" />