@page
@model OrchidApp.Web.Pages.Setup.Genera.Actions.AddModel

<h1>Add genus</h1>

<div class="mt-4">

    <div asp-validation-summary="ModelOnly"
         class="alert alert-danger">
    </div>

    <form method="post">

        <div class="mb-3">
            <label class="form-label">Genus name</label>
            <input asp-for="GenusName"
                   class="form-control"
                   autocomplete="off" />
        </div>

        <div class="mb-3">
            <label asp-for="GenusNotes" class="form-label">
                Notes (optional)
            </label>
            <textarea asp-for="GenusNotes"
                    class="form-control"
                    rows="3"></textarea>
        </div>

        <partial name="_FormActions"
                 model="@((Model.ReturnUrl ?? Url.Page("/Setup/Genera/Index"), "Add genus"))" />

    </form>
 
</div>
