@page "{id:int}"
@model OrchidApp.Web.Pages.Setup.Genera.Actions.EditModel

<h1>Edit Genus</h1>

<form method="post" class="mt-3">

    <div class="mb-3">
        <label class="form-label">
            Genus <small class="text-muted">(spelling correction only)</small>
        </label>
        <input asp-for="Genus.Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Notes</label>
        <textarea asp-for="Genus.Notes" class="form-control"></textarea>
    </div>

    <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-primary btn-lg">
            Save
        </button>

        <a asp-page="/Setup/Genera/Details"
           asp-route-id="@Model.Genus.GenusId"
           class="btn btn-outline-secondary btn-lg">
            Cancel
        </a>
    </div>

</form>
