@page "{id:int}"
@model OrchidApp.Web.Pages.Setup.Genera.DetailsModel

<h1>@Model.Genus!.Name</h1>

@if (!string.IsNullOrWhiteSpace(Model.Genus.Notes))
{
    <p>@Model.Genus.Notes</p>
}

<p>
    <a asp-page="/Setup/Genera/Index">Back to list</a>
</p>
