@page
@model OrchidApp.Web.Pages.Setup.Genera.IndexModel

<h1>Genera</h1>

<div class="d-grid gap-2">
@foreach (var genus in Model.Genera)
{
    <a asp-page="/Setup/Genera/Details"
       asp-route-id="@genus.GenusId"
       class="btn btn-outline-primary btn-lg text-start">
        @genus.Name
    </a>
}
</div>
