@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">OrchidApp.Web</h1>
    <p></p>
    <p>Welcome.</p>
    <p>OrchidApp Web is running.</p>
</div>
