@page "{id:int}"
@model OrchidApp.Web.Pages.Setup.Taxa.DetailsModel

<h1>@Model.Taxon!.DisplayName</h1>

@if (!string.IsNullOrWhiteSpace(Model.Taxon.TaxonNotes))
{
    <p>@Model.Taxon.TaxonNotes</p>
}

<p>
    <a asp-page="/Setup/Taxa/Index">Back to Taxa</a>
</p>
