@page
@model OrchidApp.Web.Pages.Taxa.IndexModel

<h1>Taxa</h1>

@if (!Model.Taxa.Any())
{
    <p>No taxa have been added yet.</p>
}
else
{
    @foreach (var genusGroup in Model.Taxa.GroupBy(t => t.GenusName))
    {
        <h2>@genusGroup.Key</h2>

        <ul>
        @foreach (var taxon in genusGroup)
        {
            <li>@taxon.DisplayName</li>
        }
        </ul>
    }
}
